# Игнорирование текстовых файлов с данными
*.csv

# Игнорирование бинарных файлов с данными
*.pkl

# Игнорирование папок с виртуальными окружениями
.venv*

.DS*

# Игнорирование файлов MLFLOW
mlartifacts/
mlruns/
mlruns_backup.db
mlruns.db
__pycache__/
