# Игнорирование текстовых файлов с данными
*.csv

# Игнорирование бинарных файлов с данными
*.pkl

# Игнорирование папок с виртуальными окружениями
.venv*

.DS*

# Игнорирование файлов MLFLOW
mlarti*
mlartifacts/1
mlruns/
mlruns_backup.db
mlruns.db
__pycache__/


*.pyc
*.pyo
*.pyd
*.db
*.log

.env
venv/
